@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<section class="three-col-left">
    @RenderSection("CMSMainContent", false)
    @RenderBody()
</section>
<section class="three-col-middle">
    @RenderSection("Middle", false)
</section>
<aside class="col-right">
    @RenderSection("Right", false)
</aside>