@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<section class="three-col-left">
    @RenderSection("Left", false)
    @RenderBody()
</section>
<section class="three-col-middle">
    @RenderSection("Middle", false)
@*    TODO: make widget *@
    <h2>Blog Posts</h2>
    <div class="blog-box">
        <h4><a href="/BetterCmsLight/BlogPost">This is an Example of Article</a></h4>
        <div class="blog-info clearfix">
            <span class="author">Author Name</span>
            <time datetime="2013-01-01">Jan 01, 2013</time>
        </div>
        <img src="/Content/images/sample-1.jpg" alt="Blog Feed 1">
    </div>
    <div class="blog-box">
        <h4><a href="/BetterCmsLight/BlogPost">This is an Example of Article Title</a></h4>
        <div class="blog-info clearfix">
            <span class="author">Author Name</span>
            <time datetime="2013-01-01">Jan 01, 2013</time>
        </div>
        <img src="/Content/images/sample-2.jpg" alt="Blog Feed 2">
    </div>
    <div class="blog-box">
        <h4><a href="/BetterCmsLight/BlogPost">This is an Example of Article Title</a></h4>
        <div class="blog-info clearfix">
            <span class="author">Author Name</span>
            <time datetime="2013-01-01">Jan 01, 2013</time>
        </div>
        <img src="/Content/images/sample-3.jpg" alt="Blog Feed 3">
    </div>
    <div class="blog-box">
        <h4><a href="/BetterCmsLight/BlogPost">This is an Example</a></h4>
        <div class="blog-info clearfix">
            <span class="author">Author Name</span>
            <time datetime="2013-01-01">Jan 01, 2013</time>
        </div>
        <img src="/Content/images/sample-2.jpg" alt="Blog Feed 4">
    </div>
    <div class="blog-box">
        <h4><a href="/BetterCmsLight/BlogPost">This is an Example of Article</a></h4>
        <div class="blog-info clearfix">
            <span class="author">Author Name</span>
            <time datetime="2013-01-01">Jan 01, 2013</time>
        </div>
        <img src="/Content/images/sample-3.jpg" alt="Blog Feed 5">
    </div>
</section>

<aside class="col-right">
@*    TODO: make widget *@
    <div class="submenu">
        <a href="#nolink">Submenu title</a>
        <a href="#nolink" class="submenu-active">Active Submenu</a>
        <a href="#nolink">Submenu title</a>
        <a href="#nolink">Submenu title</a>
        <a href="#nolink">Submenu title</a>
    </div>
    @RenderSection("Right", false)
</aside>