<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cms" type="BetterCms.Configuration.CmsConfigurationSection, BetterCms.Configuration" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6.0" newVersion="1.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true" />
  <globalization uiCulture="auto" /><!-- maxRequestLength=200MB, URL max length 2000 --><httpRuntime requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" maxRequestLength="204800" maxUrlLength="2000" maxQueryStringLength="2000" /></system.web>
<cms configSource="Config\cms.config" /><appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000" />
  </appSettings><system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength=200MB, URL max length 2000 -->
        <requestLimits maxUrl="2000" maxAllowedContentLength="209715200" maxQueryString="2000"></requestLimits>
      </requestFiltering>
    </security>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer></configuration>