<connectionStrings>
  <add name="DefaultConnection" connectionString="" />
</connectionStrings>

<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=BetterCmsDemoGlobal;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>-->