<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=BetterCmsDemo1;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=BetterCmsDemo;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\demo.mdf" providerName="System.Data.SqlClient" />
</connectionStrings>
