<a href="/" class="logo">
    <img src="/Content/images/logo.png" alt="BetterCMS">
</a>
<nav class="page-navigation" id="site-nav">
    <a href="/">Home<span class="active-border"><span></span></span></a>
    <a href="/AboutUs">About Us<span class="active-border"><span></span></span></a>
    <a href="/Blog">Blog<span class="active-border"><span></span></span></a>
    <a href="/News">News<span class="active-border"><span></span></span></a>
    <a href="/Gallery">Gallery<span class="active-border"><span></span></span></a>
    <a href="/Contacts/">Contacts<span class="active-border"><span></span></span></a>
</nav>
@if (User == null || !User.Identity.IsAuthenticated)
{
    <a class="logo" style="float: right;" href="~/login">Login</a>
}
